.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(8, 8, 8, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    background-color: #ee8585;
    
}


.navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 15p x;
    list-style: none;
    align-items: center;
}


.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}


.nav-links:hover{
    background-color:#06b4ba;
    border-radius: 8px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}


.menu-icons{
    display: none;
}
@media screen and (max-width:850px) {
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background:#fff ;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-links:hover{
        background: #06b4ba;
        transition: none;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }
    .menu-icons i{
        font-size: 1.4rem;
    }
}